apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    
    scrape_configs:
      - job_name: 'scaletestapp'
        kubernetes_sd_configs:
          - role: endpoints
            namespaces:
              names:
                - default
        metrics_path: /metrics
        relabel_configs:
          - source_labels: [__meta_kubernetes_service_name]
            action: keep
            regex: scaletestapp-service
          - source_labels: [__meta_kubernetes_endpoint_port_name]
            action: keep
            regex: http
          - source_labels: [__meta_kubernetes_namespace]
            target_label: namespace
          - source_labels: [__meta_kubernetes_pod_name]
            target_label: pod
          - source_labels: [__meta_kubernetes_endpoint_address_target_name]
            target_label: instance
          - source_labels: [__address__]
            regex: '([^:]+)(?::\d+)?'
            replacement: '${1}:8080'
            target_label: __address__

