apiVersion: v1
kind: Service
metadata:
  name: prometheus-adapter
  namespace: monitoring
  labels:
    app: prometheus-adapter
spec:
  ports:
  - port: 443
    targetPort: 6443
    protocol: TCP
  selector:
    app: prometheus-adapter

