apiVersion: v1
kind: Service
metadata:
  name: prometheus-adapter-api
  namespace: monitoring
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
spec:
  ports:
  - port: 443
    targetPort: 6443
    protocol: TCP
  selector:
    app: prometheus-adapter

